.projectile-spear-base {
    .text-holder {
        width: 98vw
    }
    img {
        max-height: 40vh;
        max-width: 90vw;
    }
    .heat-projectile-section {
        img {
            max-height: 60vh;
        }
    }
}
