.common-spear-base {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .image-holder {
        margin-bottom: 2rem;
    }
    .text-holder {
        max-width: 96vw;
        width: 1280px;
    }
}
