.home-page-base {
    width: 100%;
    position: relative;

    .static-bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-image: url('/src/assets/HD2_TV_bg_w_logo.png');
        background-size: cover;
        background-position: center;
    }

    .content {
        position: absolute;
        left: 0;
        top: 0;
    }
}
